<div class="card-deck">
<div class="card col-sm-4">
	<div class="card card-header bg-dark">
		<h5> Legende</h5>
	</div>
	<div class="card card-body"> test </div>
	<div class="card card-footer">test</div>

</div>
 <div class="card" *ngFor="let index of Index">
	  <div class="card-body bg-dark" >
				<p-chart  width="450" heigh="450" type="pie"
 				[data]="data[index]" [options]="options"></p-chart>
		</div>
		<div class="card-footer text-light bg-warning ">
			<h5 class="card-title"> moods total
					<span class="badge badge-dark">{{ Nbmood[index]}}/{{ NbUser[index] }}</span>
				</h5>
		</div>
 </div>
</div>
