@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
.fa-smile {
  color: #a5d152;
}

.fa-smile-bis {
  color: greenYellow;
}

.fa-meh {
  color: #ed7f10;
}

.fa-frown {
  color: red;
}
