<h1 class=" text-center">moodboard du plateau {{ plateauName }}</h1>

<table class="table table-striped table-bordered table-hover table-light ">
  <thead class="thead-dark">
    <tr>
      <th class="text-center" scope="col"><h1>Semaine</h1></th>
      <th class="text-center"  scope="col"> <fa-icon class="fa-smile-bis fa-3x" icon="smile"></fa-icon></th>
      <th class="text-center" scope="col"><fa-icon class="fa-smile fa-3x" icon="smile"></fa-icon></th>
      <th class="text-center" scope="col"><fa-icon class="fa-meh fa-3x" icon="frown"></fa-icon></th>
			<th class="text-center" scope="col"><fa-icon class="fa-frown fa-3x" icon="frown"></fa-icon></th>
      <th class="text-center" scope="col"><h1>Commentaires</h1></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let moodbyDay of moodboardplateau">
      <th class="text-center" scope="row">{{ moodbyDay.currentday }}</th>
      <td class="text-center">{{ moodbyDay.listmood[0] }}</td>
      <td class="text-center">{{ moodbyDay.listmood[1] }}</td>
      <td class="text-center">{{ moodbyDay.listmood[2] }}</td>
			<td class="text-center">{{ moodbyDay.listmood[3] }}</td>
      <td class="text-center">
       <span class="badge badge-pill badge-secondary" data-toggle="tooltip" data-placement="top" title="{{ moodbyDay.listcomment }}">comment</span>
      </td>
    </tr>
  </tbody>
</table>