/* ==========================================================================
Main page styles
========================================================================== */

.image {
  display: inline-block;
  width: 500px;
  height: 500px;
  background: url('../../content/images/Capture1.png') no-repeat center;
  background-size: contain;
}

.image1 {
  // display: inline-block;
  width: 500px;
  height: 500px;
  background: url('../../content/images/Capture2.png') no-repeat center;
  background-size: contain;
}

/* wait autoprefixer update to allow simple generation of high pixel density media query */
/* @media only screen and (-webkit-min-device-pixel-ratio: 2),
  only screen and (-moz-min-device-pixel-ratio: 2),
  only screen and (-o-min-device-pixel-ratio: 2/1),
  only screen and (min-resolution: 192dpi),
  only screen and (min-resolution: 2dppx) {
  .image {
    background: url('../../content/images/Capture1.png') no-repeat center middle;
    background-size: contain;
  }
} */
