<div class="col-sm-4">
	<p-chart  width="600" heigh="700" type="pie"
 [data]="data" [options]="options"></p-chart>
	<p-chart  width="600" heigh="700" type="pie"
 [data]="datas" [options]="options"></p-chart>
<link rel="stylesheet" type="text/css" href="/node_modules/primeicons/primeicons.css" />
<link rel="stylesheet" type="text/css" href="/node_modules/primeng/resources/themes/nova-light/theme.css" />
<link rel="stylesheet" type="text/css" href="/node_modules/primeng/resources/primeng.min.css" />
</div>

